<h1>Add product</h1>
<form action="/products" method="post">
  <div class="d-flex flex-column align-items-center">
    <input
      type="text"
      required
      name="name"
      class="form-control"
      placeholder="Product Name"
      style="margin-bottom: 10px"
    />
    <input
      type="number"
      required
      name="price"
      placeholder="100"
      class="form-control"
      style="margin-bottom: 10px"
    />
    <input
      type="text"
      required
      name="picture"
      class="form-control"
      placeholder="Product Picture"
      style="margin-bottom: 10px"
    />
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>
